core
*.265
*.wav
*.raw
Makefile
makefile
*.mk
*.param
*.txt
!*.cpp
!*.c
!*.h
tags
ftp.lock
*.o
*.a
*.d
*.sh
*.so
*.bin
*.elf
.gitignore
cscope*
*.out
output
out
touchfiles
.touchfiles
*.cmd
*.old
*.mod
*.dis
*.map
*.dtb
*.ts
*.aac
*.mp3
*.yuv
*.mp4
*.pcm
*.h264
*.h265
#stream
README
Makefile.example

